#sopra{
  position:fixed;
  height: 5.5em;
  width: 100%;
  background-color: white;
  top:0%;
  left:0%;
  box-shadow: 0px 0px 30px grey;
}

.barra{
  position: fixed;
  transform: translate(50%, -50%);
  top: 3em;
  font: bold 11pt "Century Gothic";
  color:black;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
}

.barra:hover{
  color:black;
  transition: 0.2s;
  border: 2px solid #C01823;
}

#logo_piccolo{
  position:fixed;
  width: 13em;
  top: 3em;
  left:3em;
  transform: translate(0, -50%);
}

a{
  color:inherit;
  text-decoration: none;
}

#HOME{
  right:50%;
}

#la_banda{
  right:43%;
}

#viaggi{
  right:36%;
}

#gallery{
  right:29%;
}

#canzoni{
  right:22%;
}

#servizi{
  right:15%;
}

#contatti{
  right:8%;
}

/* Fine barra dei menù */

h1 {
    font: bold 35pt "Century Gothic";
    color: #C01823;
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:5em;
}


#barra{
    position: absolute;
    width:2em;
    height: 0.3em;
    background-color: #2B3990;
    transform: translate(-50%, 0);
    left: 50%;}

  .barra1{
    top:20em;  }


#rosso{
  position: absolute;
  background-color: none;
  width: 800px;
  top:18em;
  height: 80em;
  transform: translate(-50%,0);
  left:50%;
}

#centro{
  position: absolute;
  background-color: none;
  width: 800px;
  top:13em;
  height: 60em;
  transform: translate(-50%,0);
  left:50%;
}




#cartina{
    position:absolute;
    width: 523px;
    top: 300px;
    right:0%;
}

#red{
  position: absolute;
  width: 100%;
  height: 50em;
  left:0%;
  top:40em;
    background-color: #C01823;
  }

  #grey{
    position: absolute;
    width: 500px;
    height: 370px;
    left:0%;
    top:15em;
      background-color: #F2F2F2;
    }

    .H1_grey{
      position: absolute;
        left:40px;
      top:60px;
      width: 250px;
      font:  BOLD 20pt "Century Gothic";}

.p_grey{
  position: absolute;
    left:40px;
  top:120px;
  width: 240px;
  font:  15pt "Century Gothic";}

#em1{font:bold 18pt "Century Gothic";}

  .loghetti_black{
    position:absolute;
    height: 30px;
  }

#youtube_black{
  top:290px;
  left:40px;
}

#facebook_black{
  top:290px;
  left:110px;
}


#google_black{
  top:290px;
  left:165px;
}
  /* inizio loghetti*/



.opacity:hover{
  opacity:0.5;
  transition: 0.2s;
}


#cartina:hover{
width:600px;
box-shadow:    5px 5px 30px black;
transition: 0.2s;
}


h4{
  position: absolute;
  top:930px;
    font:  20pt "Century Gothic";
    color: white;
    text-align: center;
    transform: translate(-50%, 0);
    left: 50%;
    line-height: 70px;

}

em{
  font: bold 20pt "Century Gothic";
}
