#sopra{
  position:fixed;
  height: 6em;
  width: 100%;
  background-color: white;
  top:0%;
  left:0%;
  box-shadow: 0px 0px 30px grey;
}

.barra{
  position: fixed;
  transform: translate(50%, -50%);
  top: 3.5em;
  font: bold 10pt Helvetica;
}

.barra:hover{
  color:#999999;
  transition: 0.2s;
}

#logo_piccolo{
  position:fixed;
  width: 13em;
  top: 3em;
  left:3em;
  transform: translate(0, -50%);
}

a{
  color:inherit;
}

#HOME{
  right:50%;
}

#la_banda{
  right:43%;
}

#viaggi{
  right:36%;
}

#gallery{
  right:29%;
}

#canzoni{
  right:22%;
}

#servizi{
  right:15%;
}

#contatti{
  right:8%;
}

/* Fine barra dei menù */


#titolo{
  position: absolute;
  top:6em;
  height: 35em;
  left:50%;
  transform: translate(-50%,0);
  width: 100%;
  background-image: url(foto/Foto_inizio_7.png);
  background-position: center center;
}


#foto_inizio{
  position:absolute;
  height: 35em;
  bottom:50%;
  left:50%;
  transform: translate(-50%,50%);
}


#logo_nome{
  position:absolute;
  top:50%;
  left: 50%;
  height: 20em;
  transform: translate(-50%,-50%);
}

/*Fine foto centrale */


#tre{
  position: absolute;
  top:55em;
  transform: translate(-50%, -50%);
  left: 50%;
}

h2 {
    font:25pt "Helvetica";
    color: #C01823;
}

h3 {
    font:25pt "Helvetica";
    color: white;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    top:1em;
}

#quattro{
  position:absolute;
  height: 20em;
  width: 100%;
  background-color: #C01823;
  top:70em;
  left:0%;
}

#red{
  position: absolute;
  top:8em;
  left:50%;
  transform: translate(-50%,0);
}
p{
    font:10pt "Helvetica";
    text-align: center;
}
